.navbar.navbar-inverse
  .container
    .glyphicon.glyphicon-chevron-left.back-page
    .navbar-inner
      .navbar-brand
        BeatArea

#events.container

:javascript
  $(function() {
    window.router = new BeatArea.Routers.Home();
    Backbone.history.start();
  });