.navbar.navbar-inverse
  .container
    .navbar-header
      = link_to "BeatArea", root_url, :class => "navbar-brand"

#events.container

:javascript
  $(function() {
    window.router = new BeatArea.Routers.Home();
    Backbone.history.start();
  });