.navbar.navbar-inverse
  .container
    .navbar-header
      .navbar-brand
        BeatArea

#events.container

:javascript
  $(function() {
    window.router = new BeatArea.Routers.Home();
    Backbone.history.start();
  });