.navbar.navbar-inverse
  .container
    .glyphicon.glyphicon-chevron-left.back-page
    .dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        .glyphicon.glyphicon-align-justify
      %ul.dropdown-menu.pull-right
        %li
          - if current_user
            %a{:href => "#"} My Events
            %a#sign-out{:href => signout_path} Sign Out
          - else
            %a#sign-in{:href => "#"} Sign In

    .navbar-inner
      .navbar-brand
        BeatArea

.container
  #events
  #event-more-info
    .row.min-height

:javascript
  $(function() {
    window.router = new BeatArea.Routers.Home();
  });